@import url("https://play.pokemonshowdown.com/style/battle-log.css");

html,
body {
    font-family: "Noto Sans JP", sans-serif;
    border: none;
    touch-action: manipulation;
}

html {
    height: 100%;
    width: 100%;
    background-color: powderblue;
}

body {
    margin: 5%;
    padding: 0px;
    background-color: white;
}

p,
ul,
td,
th,
button,
input {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
}

p {
    line-hight: 100%;
}

html,
body,
input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

table[border="1"],
table[border="1"] th,
table[border="1"] td {
    width: max-content;
    border-spacing: 0;
    vertical-align: middle;
    font-weight: 500;
    padding: 0;
}

table[border="1"] th,
table[border="1"] td {
    border-style: solid;
    height: 100%;
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 5%;
}

table[border="1"] td {
    font-family: "Noto Sans JP", sans-serif;
    vertical-align: bottom;
}

table[border="1"]#table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    outline: none;
    height: 100%;
    background-color: white;
    max-width: 100%;
    position: relative;
}

@media screen and (min-width: 600px) {
    #table th#users,
    #table td:has(.username) {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
    }

    table[border="1"]#table {
        border-collapse: separate;
        border-left: none;
    }

    #table th#users::before,
    #table td:has(.username)::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-right: 1px solid black;
        border-left: 1px solid black;
        pointer-events: none;
    }
}

div#tableparent {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
}

input[type="text"].username {
    font-size: 16px;
    width: 120px;
    maxlength: 20;
    border: none;
    border-radius: 0;
    outline: none;
    text-align: center;
}

input[type="text"].point {
    font-size: 16px;
    width: 80px;
    maxlength: 4;
    border: none;
    border-radius: 0;
    outline: none;
    text-align: center;
}

input[type="text"].disabled-point {
    font-size: 16px;
    width: 80px;
    maxlength: 4;
    border: none;
    border-radius: 0;
    outline: none;
    text-align: center;
    background-color: dimgray;
}

input[type="text"] {
    font-size: 16px;
    height: 100%;
    border: 1px solid black;
    border-style: solid;
    z-index: 1;
}

p#players {
    font-weight: 500;
    height: 100%;
    margin: 20px 0 10px 0;
}

p.status {
    width: 110px;
    height: 100%;
    font-weight: 400;
    text-align: center;
}

.button.tool {
    font-family: "Noto Sans JP", sans-serif;
    display: inline-block;

    /* default colors */
    color: #030303;
    border: solid 1px deepskyblue;
    background: powderblue;
    font-size: 12pt;
    padding: 3px 8px;
}

.infobox {
    border: 2.5px dashed black;
    padding: 2px 4px;
    position: relative;
}

button#copyplayer {
    margin: 0;
}

div#toolbox {
    width: 100%;
    margin: 0 0 15px 0;
}

div#files {
    width: 100%;
    margin: 20px 0 15px 0;
}

div#toolbox div.infobox,
div#files div.infobox {
    width: 90%;
    height: 80px;
    padding: 8px 12px 0 12px;
    text-align: center;
    max-width: 100%;
    display: inline-block;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
}

div#files div.infobox {
    height: 60px;
    padding: 0;
}

div#toolbox li,
div#files li {
    align-items: center;
    padding: 10px 0;
    margin: 10px 8px;
    vertical-align: middle;
    font-weight: 400;
    color: #232323;
    display: inline-block;
    white-space: normal;
}

div#files li {
    margin: 4px 15px 0 15px;
}

div#toolbox ul,
div#files ul {
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
}

div#toolbox button div#files a.button {
    margin: 0;
}

header,
footer {
    background-color: powderblue;
    width: 100%;
}

header {
    width: 95%;
    height: 60px;
    padding: 0 5% 20px 5%;
    text-align: left;
    color: black;
}

header h1 {
    font-weight: 800px;
}

footer {
    padding: 20px 0 0 0;
    width: 100%;
    height: 70px;
    background-color: powderblue;
    color: white;
    text-align: center;
}

footer ul li {
    display: inline;
    font-weight: 300;
    color: black;
}
